<div class="row border border-1 rounded-2 w-50 m-auto" id="board">
    <div class="col-4 border boder-1 h78 d-flex align-items-center justify-content-center" id="c1" (click)="onClickedBox($event)"></div>
    <div class="col-4 border boder-1 h78 d-flex align-items-center justify-content-center" id="c2" (click)="onClickedBox($event)"></div>
    <div class="col-4 border boder-1 h78 d-flex align-items-center justify-content-center" id="c3" (click)="onClickedBox($event)"></div>
    <div class="col-4 border boder-1 h78 d-flex align-items-center justify-content-center" id="c4" (click)="onClickedBox($event)"></div>
    <div class="col-4 border boder-1 h78 d-flex align-items-center justify-content-center" id="c5" (click)="onClickedBox($event)"></div>
    <div class="col-4 border boder-1 h78 d-flex align-items-center justify-content-center" id="c6" (click)="onClickedBox($event)"></div>
    <div class="col-4 border boder-1 h78 d-flex align-items-center justify-content-center" id="c7" (click)="onClickedBox($event)"></div>
    <div class="col-4 border boder-1 h78 d-flex align-items-center justify-content-center" id="c8" (click)="onClickedBox($event)"></div>
    <div class="col-4 border boder-1 h78 d-flex align-items-center justify-content-center" id="c9" (click)="onClickedBox($event)"></div>
</div>
